.MuiModal-root > .MuiPaper-root > .MuiMenu-list > div > button {
	display: none;
}
.MuiModal-root > .MuiPaper-root > .MuiMenu-list > div,
.MuiModal-root > .MuiPaper-root > .MuiMenu-list {
	padding: 0;
}

[aria-label='Pin to right'] {
	display: none !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded > .MuiBox-root > .MuiBox-root > .MuiBox-root {
	min-width: max-content;
	margin-top: auto;
	margin-bottom: auto;
}

.MuiDialog-paperFullScreen {
	margin-left: 61px !important;
}

.MuiDialog-paperFullScreen > div {
	width: auto !important;
}
