.page-controls{
    position: absolute;
    bottom: 5%;
    left: 50%;
    background: white;
    /* opacity: 0; */
    transform: translateX(-50%);
    transition: opacity ease-in-out 0.2s;
    box-shadow: 0 30px 40px 0 rgb(16 36 94 / 20%);
    border-radius: 4px;
}
.page-controls-button {
  width: 44px;
  height: 44px;
  background: white;
  border: 0;
  font: inherit;
  font-size: 0.8em;
  border-radius: 4px;
}
.page-controls-button:hover {
  width: 44px;
  height: 44px;
  background: rgba(130, 130, 130, 0.556);
  border: 0;
  font: inherit;
  font-size: 0.8em;
  border-radius: 4px;
  cursor: pointer;
}
.page-controls::hover {
  opacity: 1;
}
.react-pdf__Page {

  display: grid  !important;
  justify-content: center !important;
  width: 100% !important;
}
.DocumentTitle{
  cursor: pointer;
}
div.DocumentTitle:hover h4,div.DocumentTitle:hover h5 {
  color: rgba(23, 170, 221, 1) !important;
}


