.MuiListItemSecondaryAction-root{
    top: 50%;
    right: -13px!important;
    position: absolute;
    transform: translateY(-50%);
}
.MuiAccordionSummary-root {
    width: 297px!important;
}
.MuiIconButton-label{
    margin-left: 3px!important;
}
.MuiIconButton-edgeEnd {
    margin-right: 17px!important;
}