html {
  margin: 0px;
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding-right: 0 !important;
  overflow-x: hidden !important;
  overflow-y: auto ;
}

#root {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#cognitive-search-autocomplete-popup {
  max-height: 55vh !important;
}

/* css herer */

.capitalize {
  text-transform: capitalize !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.lightblueBtn {
  text-transform: capitalize !important;
  background-color: rgba(23, 170, 221, 1) !important;
  color: #fff !important;
}

.MuiAutocomplete-popper,
.MuiTooltip-popper {
  z-index: 9999999999 !important;
}

#popper-1 {
  z-index: 9999999999 !important;
}

.Toastify__toast-container{
  z-index: 999999 !important;
}

.Toastify__toast{
  border-top: 6px solid #17aadd  !important;
}

.Toastify__toast_success{
  border-top: 6px solid #04AA6D  !important;
}

.Toastify__toast_error{
  border-top: 6px solid #A52A20 !important;
}