.mapboxgl-popup {
    margin:0px;
    padding:0px;
    background:rgba(0,0,0,0);
    /* z-index: 9999; */
}
.mapboxgl-popup-content {
    margin:0px;
    padding:0px;
    background:rgba(0,0,0,0)
}

.abstractPopup .mapboxgl-popup-tip {
    display: none;
}

.mapboxgl-popup-tip{
    display: none;
}